body{
  background-color: #111;
}
.collection-item{
  color: #B401FC;
}
.nav-button{
  background-color: #B401FC;
  opacity: 74%;
  width: 20%;
  padding: 10px;
  margin-bottom: 0px
}

.row {
 background-color: #111;
}

.collection .collection-item.active {
  background-color: #B401FC;
  color: black;
}

.collection a.collection-item {
  color:#B401FC;
}

.card {
  background-color: #B401FC;
  opacity: 74%;
}

.newsArticle {
  background-color: white;
  padding: 20px;
  font-family: sans-serif;
  font-style: normal;
  color:#B401FC;
}

.card-title {
  color: #222;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: large;
}

.stockPrice {
 font-family: sans-serif;
 text-align: center;
 color: #eee;
 border-width: 1px;
}

.other {
  color: #222;
  font-weight: bold;
  font-size: large;
  font-family: sans-serif;
  text-align: center;
}
.btn{
  background-color: #B401FC;
  color: black;
  opacity: 74%;
}
.collection{
  border-style: solid;
  border-width: 2px;
  border-color: #B401FC;
}
#stockSearch{
background-color: white;
}
.nav-wrapper{
  background-color: #111;
}

.aside{
  background:#fff;
}
.news{
  margin-left: 10px;
  margin-right: 10px;
}
.nav-buttons{
  margin-bottom: 0;
}